<%- include('../layouts/Header'); -%>
<%- include('../layouts/CSS'); -%>
<%- include('../layouts/endHeader'); -%>

<div id="wrapper">

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item" >
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>จัดการผู้ใช้</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">เลือก user</h6>
        <a class="collapse-item" href="/manageStudent">นิสิต</a>
        <a class="collapse-item" href="/manageStaff">เจ้าหน้าที่</a>
        <a class="collapse-item" href="/manageTeacher">อาจารย์</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Pages Collapse Menu -->

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="nav-link" href="/manageBuilding">
      <i class="fas fa-fw fa-table"></i>
      <span>จัดการตึก</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Nav Item - Tables -->
  <li class="nav-item active">
    <a class="nav-link" href="/manageSubject">
      <i class="fas fa-fw fa-table"></i>
      <span>จัดการคอร์สเรียน</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <li class="nav-item">
    <a class="nav-link" href="/manageYear">
      <i class="fas fa-fw fa-table"></i>
      <span>จัดการปีการศึกษา</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <li class="nav-item">
    <a class="nav-link" href="/login">
      <i class="fas fa-fw fa-table"></i>
      <span>ออกจากระบบ</span></a>
  </li>

</ul>
<!--endSidebar-->



  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <%- include('../layouts/topbarEIEI'); -%>
       <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <div class="col-sm-10">
          <div class="container">

            <!--ผู้คุมสอบที่ว่าง-->

            <ul class="nav nav-tabs">
              <li class="nav-item"><a class="nav-link active">ผู้คุมสอบทั้งหมด</a></li>
            </ul>
            <div style="clear: both"></div>
            <div style="height: auto !important; overflow: auto;">
              <table class="table table-striped" style="text-align: center">
                <thead>
                  <tr>
                    <!--<td><b>ชื่อตึก</b></td>-->
                    <td><b>ชื่อ-สกุล</b></td>
                    <!--prefixName firstName lastName-->
                    <td><b>ตำแหน่ง</b></td>
                    <!--uType-->
                    <td><b>เลือก</b></td>
                  </tr>
                </thead>
                <tbody>
                  <% 
                          let arrExaminer = []

                          for(let i = 0 ; i < exam.examiner.length ; i++) {
                              arrExaminer.push(exam.examiner[i]._id+'')
                          }
                          for(let i=0; i < examiner.length ; i++) {
                             if(examiner[i].uType != 'student' && examiner[i].uType != 'admin'){
                              if(!arrExaminer.includes(examiner[i]._id+'')){
                          %>
                  <tr>
                    <td>
                      <%= examiner[i].prefixName %> <%= examiner[i].firstName %>
                      <%= examiner[i].lastName %>
                    </td>
                    <td>
                      <%= examiner[i].uType %>
                    </td>

                    <td>
                      <a href="/manageCourse/manageExaminer/add/<%=examiner[i]._id%>/<%=exam._id%>/<%=room._id%>"
                        class="btn btn-primary">เลือก</button>
                    </td>
                  </tr>
                  <% }}} %>

                </tbody>
              </table>
              <!--ผู้คุมสอบที่ว่าง-->
              <!--ผู้คุมสอบที่เลือก-->
              <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active">ผู้คุมสอบที่เลือก</a></li>
              </ul>
              <div style="clear: both"></div>
              <div style="height: auto !important; overflow: auto;">
                <table class="table table-striped" style="text-align: center">
                  <thead>
                    <tr>
                      <!--<td><b>ชื่อตึก</b></td>-->
                      <td><b>ชื่อ-สกุล</b></td>
                      <!--prefixName firstName lastName-->
                      <td><b>ตำแหน่ง</b></td>
                      <!--uType-->
                      <td><b>เลือก</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(let i=0; i < exam.examiner.length ; i++) {
                              %>
                    <tr>
                      <td>
                        <%= exam.examiner[i].prefixName %> <%= exam.examiner[i].firstName %>
                        <%= exam.examiner[i].lastName %>
                      </td>
                      <td>
                        <%= exam.examiner[i].uType %>
                      </td>
                      <td>
                        <a href="/manageCourse/manageExaminer/delete/<%=exam.examiner[i]._id%>/<%=exam._id%>/<%=room._id%>"
                          class="btn btn-danger">ลบ</button>
                      </td>
                    </tr>
                    <% } %>

                  </tbody>
                </table>

                <!--ผู้คุมสอบที่เลือก-->

              </div>
            </div>


          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

      </div>
      <!-- End of Content Wrapper -->

    </div>


    <%- include('../layouts/Bottom'); -%>